MyChurch.Api/obj/Debug/net8.0/MyChurch.Api.AssemblyInfo.cs
MyChurch.Api/obj/Debug/net8.0/MyChurch.Api.AssemblyInfoInputs.cache
MyChurch.Tests/obj/Debug/net8.0/MyChurch.Tests.AssemblyInfo.cs
MyChurch.Tests/obj/Debug/net8.0/MyChurch.Tests.AssemblyInfoInputs.cache